body {
    font-family: Arial, sans-serif;
    background-color: lavenderblush;
    margin: 0;
    padding: 0;
    color: black;
}

header {
    background-color: rgb(11, 134, 129);
    color: black;
    padding: 20px;
    text-align: center;
}
header ul{
    list-style: none;
    padding: 0;
}
header li{
    display: inline-block;
    margin: 0 10px;
}
header a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
main section{
    margin: 25PX auto;
    max-width: 700px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
}


main h2,
main h3,
main h4,
main h5 {
    color: salmon;
    margin-top: 0;

}

main h2:hover,
main h3:hover,
main h4:hover,
main h5:hover {
    background: linear-gradient(45deg, sky blue);
    box-shadow: 0 0 20px rgba(255 0 150 0.7);
    padding: 5px;
    color: black;
}


main h5{
     color: salmon;
    margin-top: 0;

}
main h5:hover{
    background: linear-gradient(45deg, sky blue);
    box-shadow: 0 0 20px rgba(255 0 150 0.7);
    padding: 5px;
    color: black;

}



footer {
    background-color: ivory;
    color: black;
    padding: 5px 0;
    text-align: center;
    border-top: 4px solid black;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
}

footer:hover {
    background: linear-gradient(90deg, purple, orange, pink);
    border-top-color: purple
}

footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, purple, orange, pink);
    opacity: 0;
    transition: opacity 2s ease;
}
footer:hover::after {
    opacity: 1;
}




.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: block;
    margin: 5px auto;
    text-decoration: none;
    width: fit-content;
}


.social-icons i {
    font-size: 30px;
    color:black;
    transition: 0.3s;
}

.social-icons i:hover {
    transform: scale(1.3);
    color: aqua;

}
ul{
padding-left: 15px;
}

li {
    list-style: none;
    margin: 5px 0;
}