body.cv-page {
    font-family: Arial, sans-serif;
    background-color: lavenderblush;
    margin: 0;
    padding: 0;
    color: lightgoldenrodyellow;
}

header {
    background-color: rgb(11, 134, 129);
    color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font: size 2em;
}

header p {
    margin: 20px 0 0 0;
    font-style: italic;
}

section {
    margin: 20px auto;
    max-width: 800px;
    padding: 15px;
    border-left: 5px solid;
    box-shadow: 0px 0px 5px rgba(blue);
}

section h2 {
    color: salmon;
    border-bottom: 2px solid;
    padding-bottom: 5px;
}

section h3 {
    color: salmon;
    margin-bottom: 5px;
    border-bottom: 2px solid;
}

section.item {
    margin-bottom: 15px;
    padding-left: 10px;
    border-left: 3px solid;
}

section h4 {
    color: salmon;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

section h5 {
    color: salmon;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

h2:hover,
h3:hover,
h4:hover,
h5:hover {
    transform: scale(1, 1);
    
    transition: all 0.3s ease;
    background: linear-gradient(45deg, sky blue);
    box-shadow: 0 0 25px rgba(255 0 150 0.7);
    cursor: pointer;
}



footer {
    background-color: ivory;
    color: black;
    padding: 5px 0;
    text-align: center;
    border-top: 4px solid black;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
}

footer:hover {
    background: linear-gradient(90deg, purple, orange, pink);
    border-top-color: purple
}

footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, purple, orange, pink);
    opacity: 0;
    transition: opacity 2s ease;
}

footer:hover::after {
    opacity: 1;
}


.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: block;
    margin: 5px auto;
    text-decoration: none;
    width: fit-content;
}


.social-icons i {
    font-size: 30px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons i:hover {
    transform: scale(1.3);
    color: aqua;

}

li {
    list-style: none;
}