body {
  font-family: "arial", sans-serif;
  background-color: white color(srgb red green blue)
}

header {
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  background-color: rgb(11, 139, 129);
  text-align: center;
  padding: 20px;
  margin: 20px;

  border-bottom: 5px;
  display: block
}

li {
  list-style: none;
}

header h1 {
  margin: 0;
  font: size 2em;
  font-style: italic;
}

header ul {
  list-style: none;
  padding: 0;
}

header li {
  display: inline-block;

}

header a {
  text-decoration: none;
  color: black;
}




.projets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
}

.projet {
  background-color: white;
  border-left: 8px solid orangered;
  border-radius: 12px;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.projet:hover {
  transform: scale(1.02);
}

.projet h2 {
  color: orangered;
  text-decoration: underline;
  margin-bottom: 15px;
  font-size: 22px;
}


.projet img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
  border: 2px solid orange;
}

.projet p {
  font-size: 16px;
  line-height: 1.6;
}

footer {
  background-color: ivory;
  color: black;
  padding: 5px 0;
  text-align: center;
  border-top: 4px solid black;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
}

footer:hover {
  background: linear-gradient(90deg, purple, orange, pink);
  border-top-color: purple
}



.social-icons {
  margin-top: 10px;
}

.social-icons a {
  display: block;
  margin: 5px auto;
  text-decoration: none;
  width: fit-content;
}

.social-icons i {
  font-size: 30px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons i:hover {
  transform: scale(1.3);
  color: aqua;
}