h1 {
    color: black;

    text-align: center;


}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;

}

li {
    list-style: none;
}

nav a:hover {
    text-decoration: underline;

}

.accueil {
    background-image: url(../images/images\ fond.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: white;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    font: size 2em;
    font-style: italic;

}

header {
    border: 3px solid black;
    background-color: rgb(11, 139, 129);
    color: white;
    text-align: center;
    margin: 5px;
    padding: 10px 5px;
    border-bottom: 5px solid;
    display: block;
    border-image: black;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    text-align: center;
    background: linear-gradient(90deg orange);

}

photo {
    max-width: 1200px;
    margin: 20px;
    padding: 10px;
}

photo h2 {
    text-align: center;
    color: slateblue;
    text-decoration: underline;
    margin-bottom: 20px;

}

.btn-video {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s;
    color: black;
    text-decoration: non;
    font-weight: bold;
    background-color: aqua;

}
.photos :hover{
    transform : scale(1.1);

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.grid img {
    width: 100px;
    border-radius: 5px;
    height: auto;
}
.grid img:hover{
    transform: scale(1.1);

.mon-bouton {
    background-color: aqua;
    transform: scale(1, 1);
    width: 100px;
    height: 100px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 25px rgba(255 0 150 0.7);
    cursor: pointer;
}

.monbouton:hover {
    transform: scale(1.1);
   background: linear-gradient(45deg, sky blue);
}

figure img {
    width: 120px;
    height: 120px;
    border: 2px solid green;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-color: black;
}

footer {
    background-color: ivory;
    color: black;
    padding: 5px 0;
    text-align: center;
    border-top: 4px solid black;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
}

footer:hover {
    background: linear-gradient(90deg, purple, orange, pink);
    border-top-color: purple
}

footer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, purple, orange, pink);
    opacity: 0;
    transition: opacity 2s ease;
}

footer:hover::after {
    opacity: 1;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: block;
    margin: 5px auto;
    text-decoration: none;
    width: fit-content;
}

.social-icons i {
    font-size: 30px;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;

}

.social-icons i:hover {
    transform: scale(1.3);
    color: aqua;
}
.imac{
     transition: all 0.3s ease;
}
.imac:hover{
    transform: scale(1.1);


}

